<div class="container">
  <h1 class="headline">Angular Simple Demo</h1>

  <ul class="nav nav-tabs">
      <li class="nav-item"><a [routerLink]="['/home']"  routerLinkActive="active" class="nav-link">Home</a></li>
      <li class="nav-item"><a [routerLink]="['/about']" routerLinkActive="active" class="nav-link">About</a></li>
      <li class="nav-item"><a [routerLink]="['/items']" routerLinkActive="active" class="nav-link">Items</a></li>
      <li class="nav-item"><a class="nav-link" (click)="onLogin()" *ngIf="!loginService.isAuthenticated()">Login</a></li>
      <li class="nav-item"><a class="nav-link" (click)="onLogout()" *ngIf="loginService.isAuthenticated()">Logout</a></li>
  </ul>

  

  <router-outlet></router-outlet>
</div>
