<div class="container">
  <h3>Item New</h3>
  <form #f (submit)="$event.preventDefault()">
    <div class="form-group">
      <label for="nameInput">ID:</label>
      <input type="number" class="form-control" aria-describedby="idHelp" placeholder="Enter ID" required #idInput>
      <small id="idHelp" class="form-text text-muted">We'll never share the id with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="nameInput">Name:</label>
      <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter Name" required #nameInput>
      <small id="nameHelp" class="form-text text-muted">We'll never share the name with anyone else.</small>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSave(nameInput)">Save</button>
  </form>
</div>