<div class="container">
  <h3>Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username:</label>
      <input type="text" class="form-control" placeholder="Enter Username" formControlName="username">
      <div class="alert alert-warning" 
        *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">Please enter a valid Username!</div>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
      <div class="alert alert-warning" 
        *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">Please enter a valid Password!</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>